html {
    background-color: rgba(76, 0, 130, 0.205);
}
.main-page-container {
    background-color: lavender;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 2%;
}

.box-container {
    display: flex;
    height: 250px;
    background-color: gray;
}
.box-1 {
    background-color: dodgerblue;
    height: 100px;
}
.box-2 {
    background-color: orangered;
    height: 100px;
}
.grow-box-1 {
    background-color: dodgerblue;
    height: 100px;
    flex-grow: 1;
}
.grow-box-2 {
    background-color: orangered;
    height: 100px;
    flex-grow: 2;
}

span {
    display: flex;
    flex-direction: column;
}