.html-properties {
      background-color: hsla(205, 24%, 80%, 0.219);
}

body {

      color: rgb(48, 42, 22);
}
.gray-bar {
      background-color: rgba(48, 49, 51, 0.664);
      color: rgba(29, 36, 63, 0.178);
      padding: 30px;
      margin: -20px;
      margin-bottom: 20px;
}
.title-color {
      color: rgb(30, 53, 44);
      background-color: rgba(29, 54, 77, 0.233);
      font-size: 35px;  
      font-family: monospace;
      text-align: center;
      padding: 25px;
      margin: 25px;
}
.title-border {
      border-color: rgba(110, 108, 67, 0.788);
      border-style: solid;
      border-width: 10px;
}

.sub-title {
      color: slateblue;
      font-size: 23px;
      font-family: monospace;
}

.paragraph {
      color: rgb(16, 21, 39);
      font-size: 20px;
}

.medium-image {
      width: 300px;
      border-color: slategray;
      border-style: solid;
      border-width: 5px;
      border-radius: 1%;
   
}

.background-color {
      background-color: slategrey;
}
#lista-numerada:hover {
      background-color: beige;
      transform: scale(1.1);

}

.orange {
      background-color: #755f4977;
      padding: 5px;
    }
  
.cyan {
      background-color: #4a797967;
      padding: 5px;
    }
  
.raspberry {
      background-color: #7a57696b;
      padding: 5px;
    }
      .cuadro-degradado {
    width: 70%;
    height: 100px;
    margin:  50px auto;
    background: linear-gradient(
      53deg,
      #ccfffc,
      #ffcccf
    );
  }
#foto-diego:hover {
  transform: scale(1.1)
}
