html {
    background-color: white;
    color: rgb(44, 44, 44);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-page-container {
    background-color: rgb(235 235 235);
    margin: 20px 5px 20px 5px;
    padding: 5px;
}
.main-page-container header {
    text-align: center;
}
.img-norman {
    background: white;
    text-align: center;
    padding: 2%;
}
.img-norman img {
    max-width: 180vh;
    margin: 0 auto 10px;
    width: 100%;
}
.timeline {
    max-width: 600px;
    width: 95%;
    margin: 10px auto;
    padding: 2%;
}
.timeline h2 {
    text-align: center;
    margin-bottom: 10%;
}
blockquote p{
    font-style: italic;
}
footer p {
    font-size: 1.15em;
    font-weight: 600;
}