html {
    background-color: white;
    color: black;
    font-family: sans-serif;
}
/*Start nav bar*/
.nav-container {
    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
    top: 9px;
    width: 100%;
    margin: -8px -8px auto -8px;
    display: flex;
    justify-content: flex-end;
    height: 55px;
    z-index: 1;
}
.nav-container ul {
    display: flex;
    flex-direction: row;
    margin: 0 5px;
}
.nav-container ul li {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.322);
    height: 20px;
    width: 17vw;
    padding-top: 1px;
    padding-bottom: 1px;
}
.nav-container ul li, a {
    margin: 0 1px;
    padding-top: 1em;
    padding-bottom: 1em;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    color: white;
}
a {
    color: inherit;
}
.nav-container ul li a:hover {
    background-color: rgba(245, 245, 245, 0.062);
    font-size: 110%;
    border-width: 2px;
    color: rgb(100, 167, 255);
    font-weight: 120%;
    
}
/*End nav bar*/
/*Start main container*/
.main-page-container {
    background-color: gray;
    max-width: 800px;
    width: 95%;
    padding: 2%;
    margin: 0 auto;
}
/*End main container*/
/*start Learn  how to learn*/
.learn-main-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(180, 171, 161); 
    min-height: 300px;
}
.learn-main-container h2 {
    text-align: center;
}
.learn-main-container h2, h3, h1 {
    color: black;
}
.lrn-wks-container {
    display: flex;
    flex-direction: row;
    background-color: lightsalmon;
    color: black;
}
.font-color-black {
    color: black;
}

/*Ends Learn how to learn */

/*Aqui trabajaremos la navegacion por los temas*/
.menu-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-container ul li {
    background-color: #2e528b;
}
.menu-container ul a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.menu-container ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}
.menu-container ul li:hover {
    background:#5b78a7;
}
/* Menu desplegable*/
.menu-container ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #eee;
    padding: 0;
    max-width: 800px;
    min-width: 300px;
    width: 100%;
}
/* Items o Articulos del menu desplegable*/
.menu-container ul ul li {
    float: none;
    max-width: 800px;
    min-width: 400px;
    width: 100%;
}
/*Enlaces de los articulos o items del menu 
desplegable  */
.menu-container ul ul a {
    line-height: 120%;
    padding: 10px 15px;
}
/*Items del menu desplegable*/
.menu-container ul li:hover > ul {
    display: block;
}
/*Here we goint to do the Dropdown menu with
target*/
#t1, #t2, #t3, #t4 {
    display: none;
}
#t1:target, #t2:target, #t3:target, #t4:target {
    display: block;
}
#week1, #week2, #week3, #week4 {
    display: none;
}
#week1:target, #week2:target, #week3:target, #week4:target {
    display: block;
}