html {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}
.main-page-container {
    background: rgb(242, 242, 242);
    margin: 0 auto;
    padding: 2%;
    min-width: 290px;
    max-width: 800px;
    width: 95%;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.432);
}
.code-container, .example {
    background-color: white;
    padding: 3%;
}
.blueviolet-text {
    color: blueviolet;
}
.blueviolet-text2 {
    color: rgb(82, 31, 129);
}

.p-tag {
  font-size: 20px;
}
@media (max-height: 800px) {
  .p-tag {
    font-size: 10px;
  }
}


