html {
    background-color: rgb(76, 0, 130, 0.205);
}
.main-page-container {
    background-color: lavender;
    max-width: 800px;
    width: 95%;
    padding: 2%;
    margin: 0 auto;
}
.container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    width: 100%;
    background-color: lightgray;
    font-size: 40px;
}
.container2 {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 50px 50px;
    width: 100%;
    background-color: lightgray;
    font-size: 40px;
}
.d1{background:LightSkyBlue;}
.d2{background:LightSalmon;}
.d3{background:PaleTurquoise;}
.d4{background:LightPink;}
.d5{background:PaleGreen;}

span {
    display: flex;
    flex-direction: column;
}