html {
    background-color: rgb(76, 0, 130, 0.205);
}
/*Start nav bar*/
.nav-container {
    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
    top: 9px;
    width: 100%;
    margin: -8px -8px auto -8px;
    display: flex;
    justify-content: flex-end;
    height: 55px;
    z-index: 1;
}
.nav-container ul {
    display: flex;
    flex-direction: row;
    margin: 0 5px;
}
.nav-container ul li {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.322);
    height: 20px;
    width: 17vw;
    padding-top: 1px;
    padding-bottom: 1px;
}
.nav-container ul > li, a {
    margin: 0 1px;
    padding-top: 1em;
    padding-bottom: 1em;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    color: white;
}
.nav-container ul li a:hover {
    background-color: rgba(245, 245, 245, 0.062);
    font-size: 110%;
    border-width: 2px;
    color: rgb(100, 167, 255);
    font-weight: 120%;
    
}
/*End nav bar*/
  ul.main-list-nav li {
    display: inline;
    height: 3px;
    
  }
.main-page-container {
    background-color: lavender;
    max-width: 800px;
    width: 95%;
    padding: 2%;
    margin: 0 auto;
    margin-top: 70px;
}
.img-objetive-container {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    width: 95%;
}
.img-objetive-container img {
    display: flex;
    flex-direction: row;
    max-height: 1024px;
    max-width: 768px;
    width: 35%;
    height: 35%;

}
.img-objetive-container h2, .img-objetive-container p {
    display: flex;
    flex-direction: column;
    margin: 0 auto auto 3%;
}
a {
    color: inherit;
}

